[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/rafal/sites/SITENAME/source
ExecStart=/home/rafal/sites/SITENAME/virtualenv/bin/gunicorn \
          --access-logfile - \
          --bind unix:/run/gunicorn.sock \
          superlists.wsgi:application

[Install]
WantedBy=multi-user.target
